<div class="dialog-header">
    <h4>依赖配置</h4>
</div>
<div class="dialog-body">
	<div class="form-horizontal"> 
	    <form name="form">
	       <div class="form-group">
	            <label class="col-lg-3 control-label text-right">依赖配置</label>
	            <div class="col-lg-8"> 
	                 <select class="form-control" ng-model="depend" ng-options="item.value as item.text for item in linkList"></select>
	            </div>
	       </div>  
	    </form>
	</div>
</div>
<div class="dialog-footer">
	<a class="btn btn-info" ng-click="closeThisDialog(0)">取消</a>
    <button type="submit" class="btn btn-info" ng-click="saveLink()">确定</button>
</div>